/* Da tablet in su (md = 768px) → allinea a destra */
@media (min-width: 768px) {
  /* NAV BAR */
  nav{
      margin-right: 1vw;
  }

  .navbar-nav {
    text-align: right;
    width: auto;        /* non forzare più tutta la larghezza */
    margin-left: auto;  /* spingi i link a destra */
  }
  .navbar-nav .nav-item {
    margin-left: 20px; /* regola a piacere */
    margin-right: 15px;
  }

}

@media(max-width: 999px){
  /* PROFILE */
  .profile-picture-container{
    max-width: 350px;
  }
}

@media(min-width: 1000px){
  /* PAGE */
  .profile-container{
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-top: 4vw;
    margin-bottom: 7vw;
  } 

  .profile-picture-container{
    flex: 1;
    margin-top: 0;
  }

  .profile-content-container{
    flex: 1;
    padding-top: 3vw;
    padding-bottom: 3vw;
  }

  .profile-name{
    font-size: clamp(1.5rem, 6vw, 3rem);
  }

  .profile-name span{
    font-size: clamp(1.5rem, 10vw, 4.5rem);
  }

  .tags{
    margin-top: 4vw;
  }

  .tag-text-container{
      font-size: clamp(.75rem, 1.3vw, 1rem);   /* testo fluido */
  }

  .profile-description{
    font-size: clamp(.75rem, 2vw, 1.5rem);   /* testo fluido */
    margin-top: 4vw;
    margin-bottom: 4vw;
  }

  /* PROJECTS SECTION*/
  .project-section-title{
    font-size: clamp(1.5rem, 6vw, 3rem);
  }
  .project-section{
    flex-direction: row;
    align-items: flex-start;
  }

  .project-description{
    font-size: clamp(.75rem, 2vw, 1.3rem);
    max-width: 70%;
  }

  /* FORM */
  #form-title{
    font-size: clamp(1.5rem, 6vw, 3rem);
  }

  textarea::placeholder,
  input::placeholder
  {
    font-size: clamp(.75rem, 2vw, 1.2rem); 
  }
}