.navbar-toggler {
  border: none !important;          /* niente bordo */
  box-shadow: none;      /* niente contorno al click */
}


/* centra i link dentro il menu mobile */
.navbar-nav {
  text-align: center;
  width: 100%;  /* occupa tutta la larghezza */
}

/* Da tablet in su (md = 768px) → allinea a destra */
@media (min-width: 768px) {
  .navbar-nav {
    text-align: right;
    width: auto;        /* non forzare più tutta la larghezza */
    margin-left: auto;  /* spingi i link a destra */
  }
  .navbar-nav .nav-item {
  margin-left: 20px; /* regola a piacere */
  margin-right: 15px;
}
}

.navbar.bg-dark {
  background-color: #000000 !important; /* nero puro */
}

.navbar-brand {
  color: #FFD700 !important; /* giallo oro */
  padding: 2%;
  font-weight: 700;
  font-family: Silkscreen;
  font-size: clamp(1rem, 4vw + 0.5rem, 2rem);
  cursor: pointer;
}

.menu-icon{
  width: clamp(1rem, 4vw + 0.5rem, 3rem);
  height: clamp(1rem, 4vw + 0.5rem, 3rem);
}